/* src/app/page.module.css */
.title {
  color: royalblue;
  text-align: center;
}

#container {
  background-image: url('https://i.pinimg.com/736x/44/a8/e3/44a8e38a8c07f6914772faf1be21e2e8.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}