#home-nav:hover {
    background-color: #ffd400;
    border-radius: 16px;
    color: #171717;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#home-nav {
    margin-right: 10px;
    color: #171717;
    font-weight: 500;
    padding: 10px 20px;
}

#logo {
    margin-left: 40px;
}
.logo {
    height: 50px;
}
.logo:hover {
    opacity: 0.7;
}

.git {
    margin-right: 40px;
}
.git:hover {
   opacity: 0.7;
}
.gitimage{
    border-radius: 32px;
    box-shadow: #171717;
    height: 50px;
}

@media (max-width: 600px) {
    #logo {
        margin-left: 10px;
    }
    .logo {
        height: 30px;
    }
    .git {
        margin-right: 10px;
    }
    .gitimage{
        border-radius: 16px;
        box-shadow: #171717;
        height: 30px;
    }
    
}

