.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name {
    flex-direction: column;
    margin-top: 200px;
}

.fullname {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #171717;
}

.tag {
    margin-top: -20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #171717;
}